hikari[speedups]==2.3.1
uvloop==0.21.0
aiosqlite==0.21.0
alluka==0.3.3
croniter==5.0.1
hikari-arc==2.1.0
hikari-miru==4.2.0
hikari-toolbox==0.1.7
python-dateutil==2.9.0.post0
pytz==2025.2
six==1.17.0
types-croniter==5.0.1.20241205
typing_extensions==4.13.1
python-dotenv==1.1.0
requests==2.32.3